@import "tailwindcss";

p {
  @apply text-lg leading-7 mb-10;
}

h1 {
  @apply text-6xl font-bold leading-18 text-white text-center;
}

h2 {
  @apply text-3xl font-bold leading-10 text-white text-center;
}

h3 {
  @apply text-2xl font-bold text-stone-500;
}

h4 {
  @apply text-xl font-medium text-stone-500;
}

h5 {
  @apply text-base font-semibold leading-6 text-stone-500;
}

h6 {
  @apply text-sm font-medium text-stone-500;
}

ul {
  @apply list-disc list-outside;
}

li {
  @apply pl-1 ml-9 text-lg leading-7;
}
